
  <div id="about" class="container mt-5 pb-5" id="aboutid">
    <div class="about-heading text-center">
      <h2 class="display-4 font-family-bold about_text">ABOUT ME</h2>
      <hr class="w-50 mx-auto">
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <img src="images/about.jpg" alt="about_image" class="img-fluid ms-1 pt-3 about_img">
      </div>

      <div class="col-lg-6 col-md-6 col-12 mt-5">
        <h3 class="text-center">KNOW ME?</h3>
        <hr>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem nihil, quam doloribus ea unde optio voluptates adipisci provident expedita illum ducimus atque repudiandae mollitia necessitatibus dolorem illo tempore in commodi.
        Modi magnam voluptates cumque. Odio delectus, error quae dolore deleniti fugiat eveniet libero quibusdam eum earum quis nulla nostrum saepe et placeat iste, voluptate vitae officia! Eius minima quo expedita.
        In tempore eos est neque sequi. Eaque sequi sunt error? Quis quas ex voluptate aliquam nostrum. Natus ea illum optio magni eos, quod nam architecto. Quam inventore praesentium optio eum.</P>

      <button class="btn">
        <a href="#">KNOW MORE</a>
      </button>
      </div>
      </div>
     </div>
 