 <section class="sec1 container-fluid mt-3 pb-5" id="newsletterid">
    <h2 class="mt-5">Newsletter</h2>
    <p>Subscribe to our newletter to receive latest update.</p>
           <form class="form-inline mt-2" action="/action_page.php">
             <input type="email" class="form-control form-inline" id="email" placeholder="Enter Email" name="email">
             <button type="submit" class="btn btn-dark ms-2 mt-2">Subscribe</button>
        </form>

  </section>