<div id="services" class="container mt-4 pb-5" id="serviceid">
    <div class="about-heading text-center">
      <h2 class="display-4 font-family-bold service_text">SERVICE</h2>
      <hr class="w-50 mx-auto">
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/business.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Business Website</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/portfolio.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Personal Website</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/blog.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Blog Website</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/webdev.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Web Development</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/anddev.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Android Development</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>

        <div class="col-lg-4 col-md-6 col-12 pb-5">
        <div class="card">
         <img src="images/softdev.jpg" class="card-img-top" alt="...">
           <div class="card-body">
           <h5 class="card-title">Software Development</h5>
           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
           <a href="#" class="btn btn-dark">Visit</a>
  </div>
</div>
      </div>


    </div>

  </div>